@model IEnumerable<WebMvcBooksWithDb.Models.YeniKitap>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    @foreach (var item in Model)
    {


        <div class="card" style="width: 18rem;">
            <img src="~/Uploads/@item.KitapResmi" class="card-img-top" alt="@item.KitapAdi">
            <div class="card-body">
                <h5 class="card-title">@item.KitapAdi</h5>
                <p class="card-text">@item.Fiyat ₺</p>
                @* @Html.ActionLink("Detay", "Details", new { id = item.Id }) *@
                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </div>
        </div>
    }
</div>
