@model IEnumerable<WebMvcBooks.Models.Book>

@{
	ViewData["Title"] = "Index";
}

<h1>Books</h1>

<p>
	<a class="btn btn-primary btn-sm" asp-controller="Books" asp-action="CreateBook">Create New Book</a>
</p>
<table class="table mt-3">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.KitapAdi)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Fiyat)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SayfaSayisi)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.KitapAdi)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Fiyat)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SayfaSayisi)
				</td>
				<td>
					@Html.ActionLink("Edit", "EditBook", new { id = item.Id }) | @*href... ilk prmtre gorunen adi, 2.si action metot adi, 3. su route value*@
					@Html.ActionLink("Details", "GetBook", new { id=item.Id }) |
					@Html.ActionLink("Delete", "DeleteBook", new { id=item.Id })
				</td>
			</tr>
		}
	</tbody>
</table>
